:root{
    --headerColor: #fceec3;
    --ThemeColor: #FFE699;
    background-color: var(--ThemeColor);

}



#one
{
    transform: rotate(20deg);
    opacity: 0.6;
}

#two
{
    z-index: 1;
}

#introduction h1
{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-shadow: 1px 1px 2px #000000;

}

#vincent div
{
    margin-left: 2%;
    width: 350px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#vincent img
{
border-radius: 25px;
box-shadow: 0px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#kafka div
{
    width: 40%;
    margin-right: 2%;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 350px;

}
#kafka img
{
border-radius: 25px;
box-shadow: 0px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header-section li{
    list-style: none;
    width: fit-content;
    display: inline-block;
    margin: 0px 15px 0px 15px;
    font-size: large;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header-section li:hover
{
    background-color: var(--ThemeColor);
    color: black;
    cursor: pointer;
}

#introduction
{

padding: 50px 0px 50px 0px;
background-color: var(--ThemeColor);
}

#introduction h1
{

font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#introduction p
{
width: 50%;
font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body
{
    margin: 0px;
    border: none;
    background-color: white;

}
.header-section
{
    /* background-color: var(--headerColor); */
    background: VAR(--headerColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
}
.footer-section
{
    /* background-color: var(--headerColor); */
    background: VAR(--headerColor);
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.logo
{
    margin-right: 1%;
    margin-left: 1%;
}
.header-section p
{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-section
{   
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.previous-searches-results
{
    border: solid black;
}

#search-text
{
    border: none;
    border-bottom: solid black 1px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#search-button
{
    background-color: var(--headerColor);
    border: none;
}

#trynow-button
{
    background-color: var(--headerColor);
    border: none;
}

#trynow-button:hover
{
    background-color: var(--ThemeColor);
}


#search-icon
{
    font-size: xx-large;
}
